<template name="sharedItem">

<div class="shared-item {{#if eq currentUser._id creator}}owned-shared-item{{/if}}" data-id="{{_id}}">

	<div class="row">
		<div class="col-xs-6 name">
			<h3>{{creator_name}}</h3>
		</div>
		<div class="col-xs-6 labels">
			<h3>
				{{#each getTags}}{{#with .}}
				<span class="label tag-label" style="background-color: {{color}};" data-id="{{_id}}">{{name}}</span>
				{{/with}}{{/each}}
			</h3>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12">
			<div 
				class="content {{#if eq currentUser._id creator}}hint--top{{/if}}"
				data-hint="{{#if eq currentUser._id creator}}Double click to edit{{/if}}"
				>
				<p>
					{{{contentHTML}}}
				</p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 attachments">
			{{#if files.length}}
			<strong>Attachments:</strong>
			<ul>
			{{#each getFiles}}
				<li>
					<a href="/ncap-share/uploads/{{_id}}">{{original.name}}</a>
				</li>
			{{/each}}
			</ul>
			{{/if}}
			<div class="date">
			{{dateFormat created 'MMMM Do, YYYY'}}
			</div>
		</div>
	</div>

</div>

</template>
