
.query {
	.appliedTags {
		margin: 10px 0;
	}
	span.label {
		font-size: 14px;
		border-radius: 15px;
		padding: 3px 1em 1px 1.4em;
		position: relative;
		i {
			position: absolute;
			top: 6px;
			left: 5px;
			width: 11px;
			height: 12px;
			line-height: 0.5;
			content: "";
			cursor: pointer;
		}
	}
}
