.share-form {
  @include shadow-border();
  font-family: 'Open Sans Condensed', sans-serif;
  border: 1px solid black;
  border-radius: 10px;
  padding: 0 1em .1em;
  margin: 0 0 1em;
  textarea {
    font-size: 16px;
		max-width: 100%;
		min-width: 100%;
  }
  .name {
    font-family: 'Vidaloka', serif;
    .name-label {
      margin-top: 10px;
    }
  }

  .row {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .tags-select {
    width: 100%;
  }
	.active-attachment {
		font-weight: bold;
		font-size: 14px;
		span {
			margin-left: 5px;
		}
		i {
			font-size: 20px;
			line-height: 14px;
			padding: 0px 4px 1px 0px;
			margin-bottom: 2px;
		}
	}

  .tags-select2-container {

    .select2-choices {
      border-radius: 20px;
    }

    .select2-search-choice {
      margin-top: 10px;
      padding: 0;
      border: none;
      span {
        font-size: 14px;
        padding: 0 10px;
        border-radius: 10px;
        width: 100%;
        font-weight: bold;
        color: #ffffff;
      }
    }
  }
  .form-buttons {
    font-family: 'Vidaloka', serif;
    div:nth-child(2) {
      text-align: right;
    }
  }
	.btn-file {
		font-size: 12px;
		position: relative;
		overflow: hidden;
	}
	.btn-file input[type=file] {
		position: absolute;
		top: 0;
		right: 0;
		min-width: 100%;
		min-height: 100%;
		font-size: 100px;
		text-align: right;
		filter: alpha(opacity=0);
		opacity: 0;
		outline: none;
		background: white;
		cursor: inherit;
		display: block;
	}
}
