.share-form {
  @include shadow-border();
  font-family: 'Open Sans Condensed', sans-serif;
  border: 1px solid black;
  border-radius: 10px;
  padding: 0 1em .1em;
  margin: 0 0 1em;
  textarea {
    font-size: 16px;
  }
  .name {
    font-family: 'Vidaloka', serif;
    .name-label {
      margin-top: 10px;
    }
  }

  .row {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .tags {
    width: 100%;
  }

  .tags-select2-container {

    .select2-choices {
      border-radius: 20px;
    }

    .select2-search-choice {
      margin-top: 10px;
      padding: 0;
      border: none;
      span {
        font-size: 14px;
        padding: 0 10px;
        border-radius: 10px;
        width: 100%;
        font-weight: bold;
        color: #ffffff;
      }
    }
  }
  .form-buttons {
    font-family: 'Vidaloka', serif;
    div:nth-child(2) {
      text-align: right;
    }
  }
}
