
<template name="shareForm">
<form class="share-form">
	<input type="hidden" name="_id" value="{{_id}}">
	{{#if teamUnifyUser}}{{#with teamUnifyUser}}
	<input type="hidden" name="creator" value="{{_id}}">
	<input type="hidden" name="creator_name" value="{{name}}">
	{{/with}}
	{{else}}
	<div class="row name">
		<div class="col-xs-1 name-label">
			Name:
		</div>
		<div class="col-xs-4">
			<input type="hidden" name="creator" value="">
			<input type="text" name="creator_name" class="form-control" value="">
		</div>
	</div>
	{{/if}}
	<div class="row">
		<div class="col-xs-12">
			<textarea class="form-control" name="content" rows="3">{{./content}}</textarea>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<p>
				<select class="tags" name="tags" multiple>
					{{#each tags}}
					<option data-color="{{./color}}" value="{{./_id}}">{{./name}}</option>
					{{/each}}
				</select>
			</p>
		</div>
	</div>
	<div class="row form-buttons">
		<div class="col-xs-6">
			{{#if _id}}
			<button type="button" class="btn btn-sm btn-default btn-delete">DELETE</button>
			{{/if}}
		</div>
		<div class="col-xs-6">
			{{#if _id}}
			<button type="button" class="btn btn-sm btn-default btn-cancel">CANCEL</button>
			{{/if}}
			<button type="button" class="btn btn-sm btn-danger btn-submit">SUBMIT</button>
		</div>
	</div>
</form>
</template>