
<template name="shareForm">
<form class="share-form">
	{{#if _id}}<input type="hidden" name="_id" value="{{_id}}">{{/if}}
	<input type="hidden" name="creator" value="{{currentUser._id}}">
	<input type="hidden" name="creator_name" value="{{currentUser.profile.name}}">

	<div class="row">
		<div class="col-xs-12">
			<textarea class="form-control" name="content" rows="3">{{./content}}</textarea>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12">
			<p>
				<select class="tags-select" name="tags" multiple>
					{{#each allTags}}
					<option data-color="{{./color}}" value="{{./_id}}" {{selectedIfIn ../tags ./_id}}>{{./name}}</option>
					{{/each}}
				</select>
			</p>
		</div>
	</div>
	<div class="row form-buttons">
		<div class="col-xs-6">
			{{#if _id}}
			<button type="button" class="btn btn-sm btn-default btn-delete">DELETE</button>
			{{/if}}
		</div>
		<div class="col-xs-6">
			{{#if _id}}
			<button type="button" class="btn btn-sm btn-default btn-cancel">CANCEL</button>
			{{/if}}
			<button type="button" class="btn btn-sm btn-danger btn-submit">SUBMIT</button>
		</div>
	</div>
</form>
</template>
